node_modules
dist

log
logs
*.log
npm-debug.log*

.DS_store
.env
.eslintcache
/coverage
/.nyc_output

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json